
body {
    margin-left: 10%; margin-right: 10%;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    max-width: 90%;
}
pre {
    padding-top:	1ex;
    padding-bottom:	1ex;
    padding-left:	2ex;
    padding-right:	1ex;
    width:		100%;
    color: 		black;
    background: 	#fafafa;
    border-top:		1px solid black;
    border-bottom:		1px solid black;
    font-family: Monaco, Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
a { text-decoration: none }
pre.synopsis {
    background: #fafafa;
}
pre.code code.tclin {
    background-color: #fafafa;
}
pre.code code.tclout {
    background-color: #fafafa;
}

code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  background: 	#fafafa;
}
h1,h2, h3,h4 {
    font-family:	sans-serif;
    background: 	transparent;
}
h1 {
    text-align: center;
}

h2.author, h2.date {
    text-align: center;
    color: black;
}
div.title h1 {
    font-family: sans-serif;
    background:  transparent;
    text-align:  center;
    color:       black;
}
div.author h3, div.date h3 {
    font-family:	sans-serif;
    background: 	transparent;
    text-align:	center;
    color: black ;
}
h2, h3 {
    margin-top:  1em;
    font-family: sans-serif;
    color:	 #005A9C;
    background:  transparent;
    text-align:	 left;
}


